@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="indexContent">
    <section class="topSec">
        <h2>Manage your events easely !</h2>
        <a href="/User/Register" class="signin">Create an event</a>
    </section>
</div>
